<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>startApr</key>
		<string>不限</string>
		<key>endApr</key>
		<array>
			<string>不限</string>
			<string>1%</string>
			<string>2%</string>
			<string>3%</string>
			<string>4%</string>
			<string>5%</string>
			<string>6%</string>
			<string>7%</string>
			<string>8%</string>
			<string>9%</string>
			<string>10%</string>
			<string>11%</string>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>1%</string>
		<key>endApr</key>
		<array>
			<string>1%</string>
			<string>2%</string>
			<string>3%</string>
			<string>4%</string>
			<string>5%</string>
			<string>6%</string>
			<string>7%</string>
			<string>8%</string>
			<string>9%</string>
			<string>10%</string>
			<string>11%</string>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>2%</string>
		<key>endApr</key>
		<array>
			<string>2%</string>
			<string>3%</string>
			<string>4%</string>
			<string>5%</string>
			<string>6%</string>
			<string>7%</string>
			<string>8%</string>
			<string>9%</string>
			<string>10%</string>
			<string>11%</string>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>3%</string>
		<key>endApr</key>
		<array>
			<string>3%</string>
			<string>4%</string>
			<string>5%</string>
			<string>6%</string>
			<string>7%</string>
			<string>8%</string>
			<string>9%</string>
			<string>10%</string>
			<string>11%</string>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>4%</string>
		<key>endApr</key>
		<array>
			<string>4%</string>
			<string>5%</string>
			<string>6%</string>
			<string>7%</string>
			<string>8%</string>
			<string>9%</string>
			<string>10%</string>
			<string>11%</string>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>5%</string>
		<key>endApr</key>
		<array>
			<string>5%</string>
			<string>6%</string>
			<string>7%</string>
			<string>8%</string>
			<string>9%</string>
			<string>10%</string>
			<string>11%</string>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>6%</string>
		<key>endApr</key>
		<array>
			<string>6%</string>
			<string>7%</string>
			<string>8%</string>
			<string>9%</string>
			<string>10%</string>
			<string>11%</string>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>7%</string>
		<key>endApr</key>
		<array>
			<string>7%</string>
			<string>8%</string>
			<string>9%</string>
			<string>10%</string>
			<string>11%</string>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>8%</string>
		<key>endApr</key>
		<array>
			<string>8%</string>
			<string>9%</string>
			<string>10%</string>
			<string>11%</string>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>9%</string>
		<key>endApr</key>
		<array>
			<string>9%</string>
			<string>10%</string>
			<string>11%</string>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>10%</string>
		<key>endApr</key>
		<array>
			<string>10%</string>
			<string>11%</string>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>11%</string>
		<key>endApr</key>
		<array>
			<string>11%</string>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>12%</string>
		<key>endApr</key>
		<array>
			<string>12%</string>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>13%</string>
		<key>endApr</key>
		<array>
			<string>13%</string>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>14%</string>
		<key>endApr</key>
		<array>
			<string>14%</string>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>15%</string>
		<key>endApr</key>
		<array>
			<string>15%</string>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>16%</string>
		<key>endApr</key>
		<array>
			<string>16%</string>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>17%</string>
		<key>endApr</key>
		<array>
			<string>17%</string>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>18%</string>
		<key>endApr</key>
		<array>
			<string>18%</string>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>19%</string>
		<key>endApr</key>
		<array>
			<string>19%</string>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
	<dict>
		<key>startApr</key>
		<string>20%</string>
		<key>endApr</key>
		<array>
			<string>20%</string>
			<string>21%</string>
			<string>22%</string>
			<string>23%</string>
			<string>24%</string>
		</array>
	</dict>
</array>
</plist>
