<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>startMonth</key>
		<string>不限</string>
		<key>endMonth</key>
		<array>
			<string>不限</string>
			<string>1个月</string>
			<string>2个月</string>
			<string>3个月</string>
			<string>4个月</string>
			<string>5个月</string>
			<string>6个月</string>
			<string>7个月</string>
			<string>8个月</string>
			<string>9个月</string>
			<string>10个月</string>
			<string>11个月</string>
			<string>12个月</string>
		</array>
	</dict>
	<dict>
		<key>startMonth</key>
		<string>1个月</string>
		<key>endMonth</key>
		<array>
			<string>1个月</string>
			<string>2个月</string>
			<string>3个月</string>
			<string>4个月</string>
			<string>5个月</string>
			<string>6个月</string>
			<string>7个月</string>
			<string>8个月</string>
			<string>9个月</string>
			<string>10个月</string>
			<string>11个月</string>
			<string>12个月</string>
		</array>
	</dict>
	<dict>
		<key>startMonth</key>
		<string>2个月</string>
		<key>endMonth</key>
		<array>
			<string>2个月</string>
			<string>3个月</string>
			<string>4个月</string>
			<string>5个月</string>
			<string>6个月</string>
			<string>7个月</string>
			<string>8个月</string>
			<string>9个月</string>
			<string>10个月</string>
			<string>11个月</string>
			<string>12个月</string>
		</array>
	</dict>
	<dict>
		<key>startMonth</key>
		<string>3个月</string>
		<key>endMonth</key>
		<array>
			<string>3个月</string>
			<string>4个月</string>
			<string>5个月</string>
			<string>6个月</string>
			<string>7个月</string>
			<string>8个月</string>
			<string>9个月</string>
			<string>10个月</string>
			<string>11个月</string>
			<string>12个月</string>
		</array>
	</dict>
	<dict>
		<key>startMonth</key>
		<string>4个月</string>
		<key>endMonth</key>
		<array>
			<string>4个月</string>
			<string>5个月</string>
			<string>6个月</string>
			<string>7个月</string>
			<string>8个月</string>
			<string>9个月</string>
			<string>10个月</string>
			<string>11个月</string>
			<string>12个月</string>
		</array>
	</dict>
	<dict>
		<key>startMonth</key>
		<string>5个月</string>
		<key>endMonth</key>
		<array>
			<string>5个月</string>
			<string>6个月</string>
			<string>7个月</string>
			<string>8个月</string>
			<string>9个月</string>
			<string>10个月</string>
			<string>11个月</string>
			<string>12个月</string>
		</array>
	</dict>
	<dict>
		<key>startMonth</key>
		<string>6个月</string>
		<key>endMonth</key>
		<array>
			<string>6个月</string>
			<string>7个月</string>
			<string>8个月</string>
			<string>9个月</string>
			<string>10个月</string>
			<string>11个月</string>
			<string>12个月</string>
		</array>
	</dict>
	<dict>
		<key>startMonth</key>
		<string>7个月</string>
		<key>endMonth</key>
		<array>
			<string>7个月</string>
			<string>8个月</string>
			<string>9个月</string>
			<string>10个月</string>
			<string>11个月</string>
			<string>12个月</string>
		</array>
	</dict>
	<dict>
		<key>startMonth</key>
		<string>8个月</string>
		<key>endMonth</key>
		<array>
			<string>8个月</string>
			<string>9个月</string>
			<string>10个月</string>
			<string>11个月</string>
			<string>12个月</string>
		</array>
	</dict>
	<dict>
		<key>startMonth</key>
		<string>9个月</string>
		<key>endMonth</key>
		<array>
			<string>9个月</string>
			<string>10个月</string>
			<string>11个月</string>
			<string>12个月</string>
		</array>
	</dict>
	<dict>
		<key>startMonth</key>
		<string>10个月</string>
		<key>endMonth</key>
		<array>
			<string>10个月</string>
			<string>11个月</string>
			<string>12个月</string>
		</array>
	</dict>
	<dict>
		<key>startMonth</key>
		<string>11个月</string>
		<key>endMonth</key>
		<array>
			<string>11个月</string>
			<string>12个月</string>
		</array>
	</dict>
	<dict>
		<key>startMonth</key>
		<string>12个月</string>
		<key>endMonth</key>
		<array>
			<string>12个月</string>
		</array>
	</dict>
</array>
</plist>
